Aula4/Aula5.m
TR_2024_2.xlsx
Parciales/
Talleres/
Aula4/DHs/
Aula7/2.svg
Aula8/CinematicasInversasRobots.m
Aula7/Tablero.svg
Aula8/Tablero1.svg
Aula8/Tablero2.svg
Aula8/Inversa3R(planar).pdf
Aula8/Solucion2Mal.PNG